body{
    background: #f3f3f3;
    color: #333;
    width: 100%;
    font-family: sans-serif;
    margin: 0; 
}

.header{
    width: 90%;
    margin: 20px auto;
    height: 120px;
    line-height: 120px; 
    background: #417aa8;
    color: #fff; 
}

