body{
    background:#f3f3f3;
    color:#333;
    width:100%;
    font-family:sans-serif;
    margin:0 auto; 
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px; 
    background:#417aa8;
    color:#fff; 
}

.jarak{
    padding:0 2pc;
}

<div class="menu">
        <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
         </ul>
<?div>

.menu{
    background-color:#417aa8;
    height:50px;
    line-height:50px;
    position:relative;
    width:90%
    margin:0 auto;
    padding:0 auto;
}

.content{
    width:90%;
    margin:auto;
    height:420px:
    padding:0.1px;
    background:#fff;
    color:#333;
}

.border{
    border:2px solid #4887b9;
    margin-top:1pc;
    padding-bottom:1pc;
    padding-left:2pc;
    padding-right:2pc;
}

.kiri{
    width:70%;
    float:left;
    margin:auto;
    background:#fff;
    height:420px;
}









